

/*===========================================================
 * =================================banner===================
 * ==========================================================*/
.banner_content{
	width: 100%;
	min-width: 1190px;
	background: #C2D1D9;
}
.banner_main{
	width: 1190px;
	margin: 0 auto;
	/*overflow: hidden;*/
	background: #fff;
	position: relative;
}
.banner_main:after{
	content: " ";
	display: block;
	clear: both;
}




.banner{
	width: 784px;
	float: left;
	height: 100%;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}
.banner img{
	display: block;
	width: 100%;
}


.contact{
	width: 206px;
	float: left;
	background: #fff;
}
.contact_list{
	width: 100%;
	overflow: hidden;
	padding: 31px 0;
}
.contact_list li{
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 11px 0;
}
.contact_list li img{
	display: block;
	width: 44px;
	height: 48px;
	margin: 0 auto;
}
.contact_list li p{
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 12px;
}
.contact_tel{
	border-top: 1px solid #EFEFEF;
	height: 109px;
	text-align: center;
}
.contact_tel h1{
	font-size: 20px;
	color: #616161;
	margin-top: 30px;
}
.contact_tel h2{
	font-size: 26px;
	color: #E83935;
	margin-top: 12px;
}


/*==============================================================
 * =======================================main==================
 * =============================================================*/
.main{
	width: 100%;
	min-width: 1190px;
	background: #F0F3EF;
	padding-bottom: 58px;
}

.main_width{
	width: 1190px;
	margin: 0 auto;
}

.product{
	padding-top: 10px;
}
.class_title{
	font-size: 20px;
	color: #090909;
	height: 60px;
	line-height: 60px;
	position: relative;
	padding-left: 20px;
}
.class_title:after{
	content: " ";
	display: block;
	width: 10px;
	height: 10px;
	background: #E83935;
	position: absolute;
	left: 0;
	top: 25px;
}

.product .prduct_lsit{
	width: 100%;
	/*overflow: hidden;*/
	position: relative;
	margin-bottom: 20px;
}
.product .prduct_lsit:after{
	content: " ";
	display: block;
	clear: both;
}
.product .prduct_lsit:last-child{
	margin-bottom: 0;
}
.left_title{
	width: 55px;
	background: #92C6E4;
	text-align: center;
	height: 100%;
	position: absolute;
	left: 0;
	color: #fff;
}
.left_title:before{
	content: " ";
	display: block;
	width: 100%;
	height: 2.5px;
	background: #F0F3EF;
	position: absolute;
	left: 0;
	bottom: -1px;
	z-index: 100;
}
.left_title:after{
	content: " ";
	display: block;
	width: 100%;
	height: 2.5px;
	background: #F0F3EF;
	position: absolute;
	left: 0;
	top: -2px;
	z-index: 100;
}
.left_title p{
	width: 20px;
	margin: 40px auto;
	font-size: 20px;
	/*transform: rotate(90deg);*/
}
.prduct_lsit ul{
	width: 1135px;
	float: left;
	overflow: hidden;
	margin-left: 55px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	box-sizing: border-box;
}
.prduct_lsit ul li{
	width: 189px;
	height: 189px;
	background: #fff;
	border-bottom: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	box-sizing: border-box;
	float: left;
	/*margin-left: 2.5px;
	margin-bottom: 2.5px;*/
	position: relative;
	
}
.prduct_lsit ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #999999;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
}
.prduct_lsit ul li a:hover{
	color: #E83935;
}
.prduct_lsit ul li a:hover img{
	transform: translateY(10px);
}
.prduct_lsit ul li a:hover p{
	transform: translateY(-10px);
}
.prduct_lsit ul li span{
	display: block;
	width: 100%;
	height: 146px;
	overflow: hidden;
}
.prduct_lsit ul li span img{
	display: block;
	width: 100px;
	max-width: 100px;
	margin: 23px auto;
    text-align: center;
    position: relative;
    transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
}
.prduct_lsit ul li p{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
}




